
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--******************************** Three Extra header div starts*********************************-->

<section class="header-extradiv">
    <div class="container">
        <div class="row">
            <div class="extra-div col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa-2x fas fa-desktop"></i></a>
                <h2>EASY TO USE</h2>
                <p>Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
            </div>
            <div class=" extra-div col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa-2x fas fa-trophy"></i></a>
                <h2>AWESOME DESIGN</h2>
                <p>Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa-2x fas fa-magic"></i></a>
                <h2>EASY TO COUSTOMIZE</h2>
                <p>Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
            </div>
        </div>

    </div>
</section>


<!--******************************** Three Extra header div end*********************************-->
<!--******************************** Service Section start*********************************-->

<section class="service-offer" id="servicediv">
    <div class="container headings text-center">
        <h1 class="text-center font-weight-bold">WHAT DO WE OFFER</h1>
        <p class="text-center">Lorem ipsum madolor sit amet,consectetur adipisicing elit</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-10 offset-1 offset-lg-0">
                <div class="names my-3">
                    <h1>html</h1>
                    <div class="progress w-75">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
                    </div>

                </div>
                <div class="names my-3">
                    <h1>Css</h1>
                    <div class="progress w-75">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:85%">80%</div>
                    </div>
                </div>
                <div class="names my-3">
                    <h1>Java Script</h1>
                    <div class="progress w-75">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:75%">75%</div>
                    </div>
                </div>
                <div class="names my-3">
                    <h1>C#</h1>
                    <div class="progress w-75">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width:80%">80%</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-12 servicediv">
                <div class="row">
                    <div class="col-lg-2 col-2 service-icon">
                        <i class="fa-3x fa fa-desktop" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-10 col-10">
                        <h2>Website Development</h2>
                        <p>Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-2 service-icon">
                        <i class="fa-3x fa fa-wifi" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-10 col-10">
                        <h2>Digital Marketing</h2>
                        <p>Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-2 service-icon">
                        <i class="fa-3x fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-10 col-10">
                        <h2>Support 24/7</h2>
                        <p>Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--********************************Service Section End*********************************-->
<!--********************************Project done Start*********************************-->

<section class="project-work">
    <div class="container headings text-center">
        <p class="text-center font-weight-bold">MORE THEN 2000 PATIENT VISITE OUR WEBSITE</p>
    </div>
    <div class="container d-flex justify-content-around align-items-center text-center">
        <div>
            <h1 class="count">1500</h1>
            <p>CMS Installation</p>
        </div>
        <div>
            <h1 class="count">2500</h1>
            <p>CMS Installation</p>
        </div>
        <div>
            <h1 class="count">700</h1>
            <p>CMS Installation</p>
        </div>
        <div>
            <h1 class="count">500</h1>
            <p>CMS Installation</p>
        </div>
    </div>
</section>

<!--********************************Project done end*********************************-->
<!--********************************Best part Start*********************************-->

<section class="best-part" id="priceingdiv">
    <div class="container headings text-center">
        <h1 class="text-center font-weight-bold text-white">OUR BEST PRICING</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="card text-center">
                    <div class="card-header">BASIC</div>
                    <div class="card-body">
                        <li>$<span class="money">20</span>/website</li>
                        <li>Responsive Website</li>
                    </div>
                    <div class="card-footer">
                        <a href="#">Purchase</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 card-second">
                <div class="card text-center">
                    <div class="card-header">STANDARD</div>
                    <div class="card-body">
                        <li>$<span class="money">20</span>/website</li>
                        <li>Responsive Website</li>
                    </div>
                    <div class="card-footer">
                        <a href="#">Purchase</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="card text-center">
                    <div class="card-header">UNLIMITED</div>
                    <div class="card-body">
                        <li>$<span class="money">20</span>/website</li>
                        <li>Responsive Website</li>
                    </div>
                    <div class="card-footer">
                        <a href="#">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--********************************Best part end*********************************-->
<!--********************************our coustomer feedback start *********************************-->

<section class="happyclient" id="">
    <div class="container headings text-center">
        <h1 class="text-center font-weight-bold ">OUR HAPPY CLIENT</h1>
        <p class="text-capitalize p-1">Our satisfied coustomer says</p>
    </div>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner container">
            <div class="carousel-item active">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="~/Assets/DesignImages/login_background1.jpg" class="img-fluid img-thumbnail" /></a>
                            <p class="m-4">Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                            <h1>Das Infomedia</h1>
                            <h2>&copy; by Arnab Das</h2>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="~/Assets/DesignImages/login_background1.jpg" class="img-fluid img-thumbnail" /></a>
                            <p class="m-4">Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                            <h1>Das Infomedia</h1>
                            <h2>&copy; by Arnab Das</h2>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="~/Assets/DesignImages/login_background1.jpg" class="img-fluid img-thumbnail" /></a>
                            <p class="m-4">Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                            <h1>Das Infomedia</h1>
                            <h2>&copy; by Arnab Das</h2>
                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="~/Assets/DesignImages/login_background1.jpg" class="img-fluid img-thumbnail" /></a>
                            <p class="m-4">Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                            <h1>Das Infomedia</h1>
                            <h2>&copy; by Arnab Das</h2>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="~/Assets/DesignImages/login_background1.jpg" class="img-fluid img-thumbnail" /></a>
                            <p class="m-4">Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                            <h1>Das Infomedia</h1>
                            <h2>&copy; by Arnab Das</h2>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="~/Assets/DesignImages/login_background1.jpg" class="img-fluid img-thumbnail" /></a>
                            <p class="m-4">Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                            <h1>Das Infomedia</h1>
                            <h2>&copy; by Arnab Das</h2>
                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="~/Assets/DesignImages/login_background1.jpg" class="img-fluid img-thumbnail" /></a>
                            <p class="m-4">Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                            <h1>Das Infomedia</h1>
                            <h2>&copy; by Arnab Das</h2>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="~/Assets/DesignImages/login_background1.jpg" class="img-fluid img-thumbnail" /></a>
                            <p class="m-4">Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                            <h1>Das Infomedia</h1>
                            <h2>&copy; by Arnab Das</h2>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="~/Assets/DesignImages/login_background1.jpg" class="img-fluid img-thumbnail" /></a>
                            <p class="m-4">Lorem ipsum dolor sit amt consectet adop adipisicing elit,sad do eiusmod teop raraincididunt ugt labore.</p>
                            <h1>Das Infomedia</h1>
                            <h2>&copy; by Arnab Das</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

</section>>

<!--********************************our coustomer feedback end *********************************-->
<!--********************************Contact Us start *********************************-->
<section class="contactus" id="Contact_Us">
    <div class="container headings text-center">
        <h1 class="text-center font-weight-bold">CONTACT US</h1>
        <p class="text-capitalize p-1">We're Here to Help And Answer Any Question You Might Have.We Look Forward To Hearing From You</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-md-2 offset-1">
                <form action="/action_page.php">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="User Name" id="User_name" autocomplete="off" required>
                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control" placeholder="Enter email" id="email_id" autocomplete="off" required>
                    </div>
                    <div class="form-group">

                        <input type="number" class="form-control" placeholder="Mobile Number" id="Mobile_no" autocomplete="off" required>
                    </div>
                    <div class="form-group">

                        <textarea class="form-control" rows="4" id="comment" autocomplete="off"></textarea>
                    </div>
                    <div class="d-flex justify-content-center form-button">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>

    <!--********************************Contact Us end *********************************-->
