
@{
    ViewBag.Title = "login_page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="header-section">
    <div class="center-div">
        <h1 class="font-weight-bold">
            We are the web developer
        </h1>
        <p>we create the world best website.</p>
        <div class="header-buttons">
            <a href="#">AboutUs</a>
            <a href="#">Contact</a>
        </div>

    </div>
</section>

